modules = ["java-graalvm22.3", "web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --directory AppLocker/build/web"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["bash", "-c", "cd AppLocker && flutter pub get && flutter build web --target lib/dashboard/main_web.dart --release"]
publicDir = "AppLocker/build/web"

[userenv]

[userenv.shared]
FIREBASE_TOKEN = "1//0grn_yyapyK-iCgYIARAAGBASNwF-L9IrEGJzYNVtTBWH2yktt7DXWyTip_3B9FIbqApiKlc8LJtUuFHADgvM18t91s8Tq8xW8mk"
